/* import font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* disable some default style */
* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  user-select: none;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

input,
button,
textarea {
  border: none;
  outline: none;
}
body::-webkit-scrollbar {
  display: none;
}
/* hero part */
.hero {
  display: flex;
  align-items: flex-end;
  justify-content: start;
  width: 100%;
  height: 100vh;
  padding: 1% 5%;
  background: no-repeat right/cover
    url("./dist/images/Graph-Teal-Stretch-Large-Compressed.jpg");
}
/* hero text */
.hero h1 {
  color: #407982;
  font-size: 5.5vw;
  font-weight: normal;
}

/* nav bar */
.nav-bar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3vh 5vw;
}
.logo {
  width: 20%;
}
.logo img {
  width: 100%;
}
/* buttons  for the screen bigger than 800px width*/
.nav-btn-wrapper {
  display: flex;
  align-items: center;
}
.nav-btn-wrapper > a {
  color: #6a6c6d;
  font-size: 1.5vw;
  margin-right: 3rem;
  transition: all 1s;
}
.contact-btn,
.contact-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8vw;
  height: 4vw;
  color: #fff;
}
.contact-btn > a,
.contact-form button > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 1.5vw;
  transition: all 0.8s;
  background-color: #4b858e;
}
.nav-btn-wrapper > a:hover {
  color: #407982;
  transition: all 0.8s;
}
.contact-btn > a:hover,
.contact-form button > a:hover {
  width: 90%;
  height: 90%;
  color: #fff;
  padding: 10px 20px;
}

/* haburger menu */
.nav-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 1% 5%;
  background: #fff;
  display: none;
  animation: show-hamburger-menu 1 linear 1s;
}
/* show hamburger menu button for the screen smaller than 800px width */
.show-menu-btn {
  display: none;
  font-size: 4rem;
  cursor: pointer;
  color: #407982;
}
/* contain logo and close button */
.nav-menu-header {
  width: 100%;
  max-height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu-logo {
  width: 20%;
}
.nav-menu-logo img {
  width: 100%;
}
.close-menu-btn {
  font-size: 4vw;
  cursor: pointer;
  color: #407982;
}
/* hamburger menu buttons */
.navigation-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
  font-size: 3rem;
}
.navigation-buttons > a {
  color: #407982;
}
.navigation-buttons > a:last-child {
  padding: 20px 50px;
  color: #fff;
  background-color: #4b858e;
}
.navigation-buttons > a:hover {
  color: #6a6c6d;
}
.navigation-buttons > a:last-child:hover {
  color: #fff;
}

/* main */
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

/* all part of main */
.first-part,
.second-part,
.third-part,
.forth-part,
.fifth-part {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 95%;
  overflow: hidden;
  margin-top: 20vh;
}

/* parts of all part of main */
.first-part-text,
.first-part-img,
.fifth-part-img,
.contact-part,
.our-service-wrapper {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

/* header of all part of main */
.first-part-text h2,
.our-service-wrapper h2,
.contact-part > h2,
.leaders-intro > h2 {
  font-size: 3vw;
  color: #4c8790;
  font-weight: normal;
  margin-bottom: 20px;
}

/* text of all parts of main */
.first-part-text p,
.our-service-wrapper p,
.leaders-intro > p {
  font-size: 1.5vw;
  color: #6a6c6d;
  text-align: justify;
}

/* first part of main */
.first-part-img img,
.fifth-part-img img {
  width: 100%;
}

/* second part of main */
.second-part {
  justify-content: center;
}
.second-part img {
  width: 100%;
  display: inline-block;
}

/* third part */
.our-service-wrapper p > span {
  margin-top: 2rem;
  display: inline-block;
}
/* third part accordion menu */
.third-part-accordion-menu {
  width: 45%;
  text-align: justify;
}
.third-part-accordion-menu > div {
  margin: 20px 0;
}
/* each accordion title */
.third-part-accordion-menu > div > h3 {
  cursor: pointer;
  display: flex;
  color: #4c8790;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 2vw;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #4c8790;
}
/* plus or negetive sign of accordion menu */
.third-part-accordion-menu > div > h3 > i {
  font-size: 1.5vw;
}
/* content of accordion menu */
.third-part-accordion-menu > div > div {
  display: none;
  font-size: 1.2vw;
  line-height: 3vw;
  color: #6a6c6d;
  padding-right: 10px;
}
.third-part-accordion-menu > div > div > ul > li {
  transform: translateX(5%);
}

/* forth part */
.forth-part {
  width: 70%;
  flex-direction: column;
  justify-content: space-between;
}
/* our leaders part */
.leaders-intro {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.leaders-intro > p {
  width: 50%;
  text-align: center;
}
/* leader box */
.leaders-info-container {
  width: 100%;
  margin: 10vh 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.leaders-info-container > div {
  width: 47%;
}
/* leader images */
.leader-img {
  width: 100%;
  margin-bottom: 20px;
}
.leader-img > img {
  width: 100%;
}
/* leader text */
.leader-info > h2 {
  font-size: 2vw;
  color: #4c8790;
  margin-bottom: 5px;
}
.leader-info > h3 {
  font-size: 1.5vw;
  color: #4c8790;
  font-weight: 100;
  margin-bottom: 10px;
}
.leader-info > p {
  font-size: 1.2vw;
  color: #6a6c6d;
  line-height: 2vw;
  text-align: justify;
}
/* forth part of main (contact us) */
.read-more-btn {
  border: none;
  outline: none;
  margin: 20px 0;
  cursor: pointer;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
}
.read-more-leader-info {
  display: none;
}

/* fifth part of main */
.fifth-part {
  width: 100%;
  padding: 10% 5%;
  background: #dae4e5;
}
.contact-part > h3 {
  width: 100%;
  color: #6a6c6d;
  font-size: 1.2vw;
  margin-bottom: 20px;
  word-wrap: break-word;
}
/* contact form */
.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* contact form inputs and textarea */
.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 45px;
  padding: 10px;
  font-size: 1.2vw;
  background: #fff;
  margin-bottom: 40px;
}
.contact-form input:nth-child(3)::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.contact-form textarea {
  resize: vertical;
  min-height: 100px;
}
.contact-form button {
  border: none;
  cursor: pointer;
  background: transparent;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #4b858e;
  padding: 20px 100px;
  text-align: center;
  color: #fff;
}
footer > h2 {
  font-size: 2vw;
}
footer > p {
  width: 60%;
  margin: 40px 0;
  font-size: 1.5vw;
}
footer > h4 {
  font-size: 1vw;
}

/* smoth scroll top button */
.go-up-btn {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  right: 20px;
  bottom: 20px;
  display: none;
  cursor: pointer;
}
.go-up-btn i {
  font-size: 3rem;
  color: #85d3fa;
}
.go-up-btn span {
  font-size: 2rem;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.719);
}

/* animations */
@keyframes show-hamburger-menu {
  from {
    opacity: 0;
    left: -100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes hide-hamburger-menu {
  to {
    opacity: 0;
    left: -100%;
  }
}

@keyframes text-scroll-animation {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes up-animation-scroll {
  from {
    transform: translateY(100%);
  }
}

/* responsive */
@media screen and (max-width: 1000px) {
  /* first part of main */
  .first-part {
    max-height: none;
    flex-direction: column-reverse;
  }
  .first-part-text,
  .first-part-img {
    width: 100%;
    height: auto;
    padding: 5% 5%;
    align-items: flex-start;
  }
  .first-part-text h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .first-part-text p {
    font-size: 2rem;
  }

  /* third part of main */
  .third-part-accordion-menu > div > div {
    font-size: 2rem;
    text-align-last: left;
  }
  .our-service-wrapper h2 {
    font-size: 3rem;
  }
  .our-service-wrapper p {
    font-size: 2.5rem;
  }
  .third-part-accordion-menu > div > h3 > i {
    font-size: 1.5rem;
  }

  /* forth part in main */
  .leaders-intro > h2 {
    font-size: 3rem;
  }
  .leaders-info-container {
    flex-direction: column;
  }
  .leaders-info-container > div {
    width: 100%;
  }
  .leader-info > h2 {
    font-size: 3rem;
  }
  .leaders-intro > p {
    width: 100%;
    font-size: 2rem;
  }
  .leader-info > h3 {
    font-size: 2.5rem;
  }
  .leader-info > p {
    font-size: 2rem;
    text-align: start;

    line-height: 2.5rem;
  }
  .first-leader {
    margin-bottom: 50px;
  }

  /* fifth part */
  .fifth-part-img {
    display: none;
  }
  .contact-part {
    width: 100%;
  }
  .contact-part > h2 {
    font-size: 3rem;
  }
  .contact-part > h3 {
    font-size: 2rem;
  }
  .contact-form input,
  .contact-form textarea {
    font-size: 2rem;
  }
  .contact-form button {
    width: 200px;
    height: 40px;
  }
  .contact-form button > a {
    font-size: 2.5rem;
  }
  /* footer */
  footer > h2 {
    font-size: 2.5rem;
  }
  footer > p {
    font-size: 2rem;
    width: 100%;
  }
  footer > h4 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  /* hero and navbar */
  .hero h1 {
    font-size: 3rem;
  }
  .nav-btn-wrapper {
    display: none;
  }
  .show-menu-btn {
    display: block;
  }

  /* first part of main */
  .first-part {
    margin: 0;
  }
  .first-part-text > h2 {
    text-align: center;
  }
  .first-part-img {
    display: none;
  }

  /* third part of main */
  .third-part {
    flex-direction: column;
  }
  .our-service-wrapper {
    width: 100%;
    margin-bottom: 5rem;
  }
  .our-service-wrapper > h2,
  .our-service-wrapper > p {
    width: 100%;
    text-align: center;
  }
  .third-part-accordion-menu {
    width: 100%;
  }
  .third-part-accordion-menu > div > h3 {
    font-size: 2rem;
  }
  .third-part-accordion-menu > div > div {
    font-size: 1.5rem;
    line-height: normal;
  }
}
