@import url("./assets/css/utils/variables.css");
@import url("./assets/css/utils/animations.css");
@import url("./assets/css/layouts/spinner.css");
@import url("./assets/css/layouts/header.css");
@import url("./assets/css/layouts/about-us.css");
@import url("./assets/css/layouts/team.css");
@import url("./assets/css/layouts/contact-footer.css");

/* reset some defult styles */
* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.container {
  display: none;
}

.display .container {
  display: block;
}

/* responsive settings */
@media (max-width: 1500px) {
  .about-us-img-wrapper {
    grid-row: 3 / -1;
  }

  .card {
    width: 34rem;
  }

  .contact-wrapper {
    width: 80%;
    height: 65rem;
  }

  .footer-content {
    width: 80%;
  }
}

@media (max-width: 1400px) {
  .banner h1 {
    font-size: 6rem;
    line-height: 7rem;
  }

  .banner p {
    font-size: 3rem;
  }

  .banner button {
    width: 20rem;
    height: 5rem;
    font-size: 1.6rem;
  }

  .menu-link {
    font-size: 3rem;
  }

  .service:nth-child(1) {
    grid-column: 3 / 7;
  }

  .service:nth-child(2) {
    grid-column: 2 / 6;
  }

  .service:nth-child(3) {
    grid-column: 3 / 7;
  }

  .service:nth-child(4) {
    grid-column: 11 / 15;
  }

  .service:nth-child(5) {
    grid-column: 12 / 16;
  }

  .service:nth-child(6) {
    grid-column: 11 / 15;
  }
}

@media (max-width: 1300px) {
  .team {
    padding-bottom: 5rem;
  }

  .cards-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }

  .card {
    margin-bottom: 8rem;
  }

  .contact-wrapper {
    width: 90%;
    height: 55rem;
  }

  .contact-heading {
    margin-bottom: 2rem;
  }

  .field {
    margin: 2rem 0;
  }
}

@media (max-width: 1000px) {
  .banner h1 {
    font-size: 5rem;
    line-height: 6rem;
  }

  .banner p {
    font-size: 2.5rem;
  }

  .banner button {
    width: 18rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .service {
    width: 40rem;
    margin-bottom: 6rem;
  }

  .about-us-img-wrapper {
    width: 40rem;
  }

  .about-us-img-wrapper img {
    width: 100%;
  }

  .contact-left {
    width: 0;
  }

  .contact-right {
    width: 100%;
  }

  .field {
    width: 55rem;
  }

  .input-group textarea {
    max-width: 55rem;
  }

  .submit-btn {
    width: 55rem;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
  }

  .copyright {
    order: 1;
    margin-top: 3rem;
  }
}

@media (max-width: 700px) {
  .banner h1 {
    font-size: 4rem;
    line-height: 5rem;
  }

  .banner p {
    font-size: 2rem;
  }

  .field {
    width: 35rem;
  }

  .input-group textarea {
    max-width: 35rem;
  }

  .submit-btn {
    width: 35rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }

  .sidebar {
    width: 100%;
    right: -100%;
  }

  .change .hamburger-menu {
    right: 38rem;
  }

  .service {
    width: 30rem;
  }

  .footer {
    height: 18rem;
  }
}
